<a href="https://colab.research.google.com/github/nmagee/ds1002/blob/main/homework/week-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 4

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

## 1. Lists

    mylist = ["Chicago","New Orleans", "Tempe", "Denver", "Nashville", "Albany"]

Using the list above, answer these questions:

1. Write a snippet of code that prints out `"Tempe"`.
2. Write a snippet of code that adds `"Atlanta"` to this list and prints out the extended list.
3. Write a snippet of code that prints out only `"New Orleans", "Tempe", "Denver"`.

In [ ]:
# Put answers below

## 2. Data Types

```python
s = "Fox"
x = 17
y = "3"
z = "false"
```

Use the variables above and answer these questions:

1. Write a snippet of code that prints out the data type of `s`
2. Write a snippet of code that adds `x` and `y` and prints out their sum.
2. Write ...

In [ ]:
# Put answers below

# 3. Dictionaries

    mydict = {"VA":"Richmond", "NC":"Raleigh", "NJ":"Trenton", "PA":"Harrisburg", "NY":"Albany"}

1. Write a snippet of code that prints `"Trenton"`
2. Write a snippet of code that adds `"CO":"Denver"` to `mydict`

In [ ]:
# Put answers below

# 4. NumPy

Create an `ndarray` that contains the following values and assign it to a variable.

    2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37

1. Write a snippet of code that prints the data type of the elements in the array.
2. Write a snippet of code that displays `11` from the array.

In [ ]:
# Put answers below