<a href="https://colab.research.google.com/github/nmagee/ds1002/blob/main/homework/week-7-answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 7

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

Load the following dataset into pandas and perform the requested operations in code.

Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [1]:
# Load pandas and the data
import pandas as pd

df = pd.read_csv("https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv")

In [2]:
# show how many rows and columns are in this dataset

# Shape is your go-to for this!! It gives you both height and width of a table (dataframe)
df.shape

(25760, 10)

In [3]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)

# First repopulate the value of a column with the same values MINUS the word "minutes".
# .strip() lets you do this.
df['duration'] = df['duration'].str.strip("minutes")

# Next you want to re-cast the datatype of the column as an 'int'. This will make Pandas
# see it as int64.
df['duration'] = df['duration'].astype('int')

df.head()

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_size
0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,26
1,24,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male,27
2,8,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male,29
3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,26
4,11,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male,27

In [4]:
# Now display the datatypes in the updated dataframe

# Know this command! It displays all columns in the DF and their data types.
df.dtypes

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [21]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.

# It's okay to declare two statements to get these values. Use .min() and .max()
# each in a line:
print(df['duration'].min())
print(df['duration'].max())

1
1372

In [6]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.

# Use .query to winnow down the values within your dataset, and use that to populate a NEW
# dataframe. Be sure you're populating a new dataframe with the filtered values.
df2 = df.query('duration <= 60')
df2.head(5)

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_size
0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,26
1,24,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male,27
2,8,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male,29
3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,26
4,11,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male,27

In [7]:
# Now show both the min and max values of the duration column for your new dataset.

# Same as above. Should now be 1-60.
print(df2['duration'].min())
print(df2['duration'].max())

1
60

In [8]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.

# Use another query to populate the df (either of the same name or a new df with a new name)
df3 = df2.query('tire_size == 26')
df3.shape

(12761, 10)

In [15]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.

# One way to do this is a bit ugly but it spits out total counts
# of occurrences for each column:
print(df3.query('user_gender == "Female"').count())

print('---' * 8)
# A slightly better way to do this is to use the 'groupby' method
# which then lets you measure the size of each grouping:
print(df3.groupby('user_gender').size()['Female'])

print('---' * 8)
# A final way to do this is to use a method made for this, .value_counts():
print(df3['user_gender'].value_counts()['Female'])

duration           2962
station_A_id       2962
station_A_name     2962
station_B_id       2962
station_B_name     2962
bike_id            2962
user_type          2962
user_birth_year    2962
user_gender        2962
tire_size          2962
dtype: int64
------------------------
2962
------------------------
2962