<a href="https://colab.research.google.com/github/nmagee/ds1002/blob/main/homework/week-7-answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 7

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

Load the following dataset into pandas and perform the requested operations in code.

Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [17]:
# Load pandas and the data
import pandas as pd

df = pd.read_csv("https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv")

In [3]:
# show how many rows and columns are in this dataset
df.shape

(25760, 10)

In [24]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
df['duration'] = df['duration'].str.strip("minutes")
df['duration'] = df['duration'].astype('int')
df.head()

AttributeError: ignored

In [25]:
# Now display the datatypes in the updated dataframe
df.dtypes

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [26]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
print(df['duration'].min())
print(df['duration'].max())

1
1372

In [28]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
df2 = df.query('duration <= 60')
df2.head(5)

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_size
0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,26
1,24,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male,27
2,8,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male,29
3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,26
4,11,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male,27

In [29]:
# Now show both the min and max values of the duration column for your new dataset.
print(df2['duration'].min())
print(df2['duration'].max())

1
60

In [35]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
df3 = df2.query('tire_size == 26')
df3.shape

(12761, 10)

In [36]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
df3.query('user_gender == "Female"').count()

duration           2962
station_A_id       2962
station_A_name     2962
station_B_id       2962
station_B_name     2962
bike_id            2962
user_type          2962
user_birth_year    2962
user_gender        2962
tire_size          2962
dtype: int64