<a href="https://colab.research.google.com/github/nmagee/ds1002/blob/main/homework/week-7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 7

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

Load the following dataset into pandas and perform the requested operations in code.

Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [ ]:
# Load pandas and the data

In [ ]:
# show how many rows and columns are in this dataset

In [ ]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)

In [ ]:
# Now display the datatypes in the updated dataframe

In [ ]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.

In [ ]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.

In [ ]:
# Now show both the min and max values of the duration column for your new dataset.

In [ ]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.

In [ ]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.