<a href="https://colab.research.google.com/github/nmagee/ds1002/blob/main/homework/week-5-answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 5

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

## 1. NumPy

You have three Python lists (below). Put them into a single NumPy `ndarray` as a 2-dimensional array (with 6 columns and 3 rows). Using the 6 columns in each list, add each column's values and print out the added values. Demonstrate everything required to code such an operation in the code block below.

```python
val1 = [12,14,16,18,20,22]
val2 = [5,10,15,20,25,30]
val3 = [5,7,9,11,13,15]
```

In [ ]:
# Set up numpy and create an array from the 3 lists above. Don't just copy and
# paste the values into a new array by hand, use the three variables to create it.

import numpy as np

val1 = [12,14,16,18,20,22]
val2 = [5,10,15,20,25,30]
val3 = [5,7,9,11,13,15]

myarray = np.array([val1, val2, val3])

# Remember to create the array using the 3 list objects I have givein you
# (Which is to say, don't create it by simply copying and pasting the three list values)

In [ ]:
# Now format a SINGLE command that displays the first and second lines of the ndarray you just made.

myarray[0:2]

# This is slicing the object -- asking for the record starting at index 0 and
# stopping just before index 2. That results in the 0 and 1 records being returned.

array([[12, 14, 16, 18, 20, 22],
       [ 5, 10, 15, 20, 25, 30]])

In [ ]:
# Format a command that slices the ndarray, giving only the first 3 columns of the first 2 rows.
# Display those values back in your code.

myarray[0:2, 0:3]

# This is the same as above, but now passing in column indices as the second parameter
# of the request. This asks for the columns starting after index 0 and stopping just
# at index 3, which returns columns 1, 2, and 3.

array([[12, 14, 16],
       [ 5, 10, 15]])

In [ ]:
# Finally, using the ndarray object you created above, use the .T method with it.
# For example, if your ndarray was named "myarray" then issue this command:
#
#  myarray.T
#
# What does that command do to the ndarray? Write your answer in the text block below.

myarray.T

array([[12,  5,  5],
       [14, 10,  7],
       [16, 15,  9],
       [18, 20, 11],
       [20, 25, 13],
       [22, 30, 15]])

This command "transposes" the table, i.e. switches rows into columns and columns into rows.

Flipping a table's orientation like this gives you the ability to see and maniuplate values more efficiently (it lets you perform row operations on a column!). There are many times that you may want to transpose a table, manipulate it, then transpose it back.

# 2. Pandas

In class we created a DataFrame using the `read_csv` method. Another way to create a df is by hand, using Python lists. Below shows you how to do that, using a list of columns, a list of indexes, and a list of actual data for each record.

```python
df = pd.DataFrame(
    columns=['x','y','z'],
    index=['row1','row2','row3'],
    data=[[9,3,7],[1,2,4],[4,6,8]])
```

In [1]:
# Set up pandas and create the dataframe above. Then continue to work with the dataframe in the questions below.

import pandas as pd

df = pd.DataFrame(
    columns=['x','y','z'],
    index=['row1','row2','row3'],
    data=[[9,3,7],[1,2,4],[4,6,8]])

In [3]:
# Format a command that displays the entire DataFrame.

df

      x  y  z
row1  9  3  7
row2  1  2  4
row3  4  6  8

In [4]:
# Format a command that selects and returns only the SECOND row of data from the df.

df.loc['row2']

x    1
y    2
z    4
Name: row2, dtype: int64

In [ ]:
# Format a command that selects and returns only the `y` column of data from the df.
df.y

row1    3
row2    2
row3    6
Name: y, dtype: int64

In [ ]:
# Format a command that displays the data types present in this DataFrame.
df.dtypes

x    int64
y    int64
z    int64
dtype: object

In [ ]:
# Finally, using the DataFrame object you created above, use the .T method with it.
# For example, if your df was named "mydf" then issue this command:
#
#  mydf.T
#
# What does that command do to the DataFrame? Write your answer in the text block below.

df.T

This command "transposes" the table, i.e. switches rows into columns and columns into rows.

Flipping a table's orientation like this gives you the ability to see and maniuplate values more efficiently (it lets you perform row operations on a column!). There are many times that you may want to transpose a table, manipulate it, then transpose it back.