<a href="https://colab.research.google.com/github/nmagee/ds1002/blob/main/homework/week-13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 13

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## 1. Change Runtime to R (1 pt)

Change the runtime of this notebook to R. You can verify that you are running R by displaying the current version you are running. Run the cell below and show the output.

In [ ]:
version

## 2. Create Vectors (2 pts)

Create two vectors in the cells below, according to the prompts given.

In [ ]:
# create a vector with 7 integer values. Assign it to a variable named "my_integers"

In [ ]:
var1 = 8
var2 = 4
var3 = 12
var4 = 25

# Using the variables given above, assign three new variables the following calculated values:
#
# 1. Your first variable should be assigned the calculated value of var2 divided by var1.
# 2. Your second variable should be assigned the calculated value of var2 cubed times var3.
# 3. Your third variable should be assigned the calculated value of var4 integer divided by var3.
#
# Next, create an array populated by your three variables. Assign the array to a new variable named "my_calculated_values"

## 3. Vector Indexes (3 pts)

In the cell below, create a vector that starts with the integer 4, that increments by counts of 3 all the way to 28.

Assign the vector to a variable name.

In [ ]:
#

Next, show how to display this vector with the 3 index removed.

In [ ]:
#

Finally, show how to delete the 4th, 5th, and 7th indexes from the vector and update the vector so they are forever removed from the vector.

Hint: there is a fairly simple way to do this in one line, such that you don't have to run a separate command for each removal.

In [ ]:
#

## 4. Create a Data Frame (3 pts)

In the cell below create a data frame with 10 observations (rows) and 5 variables (columns) each. This data frame will describe some of your favorite musical performers. You can use real or fictitious data to populate your data frame.

Variables:
  - `artist` - Artist or band name
  - `category` - Rock, Pop, Country, Hip-hop, Jazz, Classical, Soul, Other. (Try to distribute your selections here)
  - `size` - (number of members, 1-?)
  - `start` - Debut year of artist.
  - `grammy` - Grammmy winner? `TRUE` | `FALSE`

First create vectors for each variable populated with your own performer data. Then create a data frame from these vectors (be sure to assign column names too) and assign it to a named variable such as `df`.

In [ ]:
#

## 5. Filter/Query a Data Frame (2 pts)

Use the data frame you created above and show how to perform the following queries.

In [ ]:
# Display the first 3 records and only the `artist`, `category` and `grammy` columns for each.

In [ ]:
# Display the records for just one musical category, such as only Rock bands or only Hip-hop bands.

## Query a Data Frame using `tidyverse` (4 pts)

1. Show how to load the library.
2. Show how to glimpse basic features of the `starwars` data table.
3. Create a query using tidyverse that retrieves the following data:
    - Selects only these columns: `name`, `height`, `sex`, `species`.
    - Filters for all species that are NOT Human. (That is, show species that are non-human only.)
    - Arranges the resulting data in order by name.

Show your output in a data frame.

In [ ]:
#