<a href="https://colab.research.google.com/github/nmagee/ds1002/blob/main/notebooks/21-dataframes-in-r-student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Frames in R

Build a data frame by hand.

In [1]:
album <- c("The Low End Theory", "Nevermind", "Port of Morrow",
           "Dark Side of the Moon", "Naked", "OK Computer",
           "Abbey Road", "Thriller", "Rumours", "The Joshua Tree")
year <- c(1991, 1991, 2012, 1973, 1988, 1997, 1969, 1982, 1977, 1987)
digital <- c(FALSE, FALSE, TRUE, FALSE, TRUE, TRUE, FALSE, FALSE, FALSE, TRUE)

df <- data.frame(Album = album, Year = year, Digital = digital)

## Insert a Column

## Get the Structure

## Slicing & Filtering

Remember that a data frame is simply a 2-dimensional array. Rows + Columns.

The `[ ]` selector has two halves, separated by a comma: `[ <ROWS> , <COLUMNS> ]`

## `tidyverse`

In [ ]:
# Installing packages

In [ ]:
# Loading a library

In [ ]:
# Piping

In [ ]:
# Loading a CSV file into a data frame
titanic <- read.csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")