<a href="https://colab.research.google.com/github/nmagee/ds1002/blob/main/notebooks/22-data-cleaning-in-r.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Cleaning

Normal cleaning and management operations are just as common in R as they are in Python. The most frequent cleaning tasks are:

- Identifying and removing duplicate rows.
- Finding empty / NULL / `NA` values and determining what to do with them, i.e. deleting, imputing, etc.

In [ ]:
df <- read.csv("https://raw.githubusercontent.com/nmagee/ds1002/main/data/very-messy-data-2.csv")

# Use str() to get the structure of the data frame:
str(df)

In [ ]:
df

### Duplicate Rows

To remove duplicate rows from a data frame there is a simple one-line command. This will select all NON-duplicated rows from the `df` data frame and pass them into a new data frame named `df2`:

In [ ]:
df2 <- df[!duplicated(df), ]

In [ ]:
# or, using dplyr

library(dplyr)
df2 <- df %>% distinct()

Let's import the `very-messy-data.csv` file from an earlier homework to inspect and clean.

In [ ]:
# Now remove the dupe rows
df2 <- df[!duplicated(df), ]
str(df2)

### Look for Data Irregularities

Sometimes a row value will be out of the bounds of expected data values. A good example of this might be a `logical` column where you expect to see `TRUE` and `FALSE`. It's useful to look at a list of the distinct values from a column. Use the `unique()` function to return these.

In [ ]:
unique(df2$sepal_length)
unique(df2$sepal_width)
unique(df2$petal_length)
unique(df2$petal_width)

### Update Values As Needed

To remove or `NA` a specific value within an observation, simply map a new value to a `df` search.

Suppose you want to remove "empty" values and replace them with `NA`:

```
df2[df2==""] <- NA
```

In [ ]:
df2[df2=="gg28"] <- NA
df2[df2=="gg29"] <- NA
df2[df2==""] <- NA
df2

The above method is useful whenever you need to push a replacement value into specific cells.

### Remove Rows with `NA` values

A simple way to do this is to extract only valid data out of the data frame with the `na.omit` method:

In [ ]:
df_no_empty <- na.omit(df)
str(df_no_empty)

In [ ]:
# Two other methods to achieve this:

#Remove rows with NA's using complete.cases
df <- df[complete.cases(df), ]

#Remove rows with NA's using rowSums()
df <- df[rowSums(is.na(df)) == 0, ]

# Or with the tidyverse library
library("tidyr")

#Remove rows with NA's using drop_na()
df <- df %>% drop_na()

### Imputate Missing Data

The question surrounding imputation is WHAT to replace `NA` values with. This question is a data/statistical one and should not be treated lightly. The answer can throw off results greatly.

With that caveat in mind, here is the method for imputing missing values and replacing them with the mean of the rest of the data.

The R below will update the sepal and petal columns by replacing empty values with the mean of the valid values within each column.

In [ ]:
df2$sepal_length[is.na(df2$sepal_length)] <- mean(df2$sepal_length, na.rm = T)
df2$sepal_width[is.na(df2$sepal_width)] <- mean(df2$sepal_width, na.rm = T)
df2$petal_length[is.na(df2$petal_length)] <- mean(df2$petal_length, na.rm = T)
df2$petal_width[is.na(df2$petal_width)] <- mean(df2$petal_width, na.rm = T)

df2

In [ ]:
# Another way to achieve this is using the Hmisc package

df3 <- read.csv("https://raw.githubusercontent.com/nmagee/ds1002/main/data/very-messy-data.csv")
df3 <- df3[!duplicated(df3), ]

install.packages("Hmisc")
library(Hmisc)

In [ ]:
df3$sepal_length <- impute(df3$sepal_length, median)
df3$sepal_width <- impute(df3$sepal_width, median)
df3$petal_length <- impute(df3$petal_length, median)
df3$petal_width <- impute(df3$petal_width, median)

In [10]:
df3

     id   sepal_length sepal_width petal_length petal_width species
1     1   3.5          2.9         1.4          0.5         virginica
2     2   3.6          3.2         3.0          0.5         setosa
3     3   3.8          3.0         2.2          1.5         setosa
4     4   5.8          2.7         2.6          1.2         virginica
5     5   4.9          3.6         3.0          1.2         virginica
6     6   5.0          2.7         1.4          2.3         setosa
7     7   4.8          3.0         2.6          1.4         setosa
8     8   5.5          2.2         2.1          2.1         virginica
9     9   5.5          2.9         1.1          3.0         setosa
10   10   4.6          3.4         2.6          1.9         virginica
11   11   3.7          2.1         1.4          1.3         setosa
12   12   4.6          3.5         1.6          2.9         setosa
13   13   4.7          2.0         1.2          1.9         virginica
14   14   6.0          3.0         1.1          2.6         virginica
15   15   3.3          2.7         2.9          0.4         setosa
16   16   4.1          3.5         1.9          0.7         virginica
17   17   4.6          2.9         2.1          2.6         virginica
18   18   3.7          2.6         1.3          0.9         setosa
19   19   5.5          2.5         1.8          1.8         virginica
20   20   3.7          2.4         1.2          1.6         setosa
21   21   3.1          2.4         1.4          0.7         setosa
22   22   4.4          2.1         2.8          1.9         virginica
23   23   5.7          3.0         2.5          1.4         setosa
24   24   5.6          3.3         1.2          0.3         virginica
25   25   3.2          3.3         2.0          0.7         virginica
26   26   5.0          3.3         2.4          2.2         virginica
27   27   3.9          3.2         2.7          0.1         setosa
28   28   4.6          2.2         1.5          1.2         virginica
29   29   5.8          2.6         2.3          2.3         setosa
30   30   4.7          3.7         1.8          2.7         virginica
â‹®    â‹®    â‹®            â‹®           â‹®            â‹®           â‹®
971   971 3.4          3.5         2.8          2.5
972   972 4.3          2.7         1.6          0.0         setosa
973   973 3.7          3.0         2.3          0.6         virginica
974   974 3.9          3.6         2.3          1.6         setosa
975   975 3.8          2.4         3.0          2.5         virginica
976   976 3.1          4.0         2.0          0.6         setosa
977   977 3.4          3.7         3.0          3.0         setosa
978   978 4.8          3.3         2.0          0.9         virginica
979   979 4.6          2.6         1.4          1.3         virginica
980   980 5.7          3.0         2.6          0.6         virginica
981   981 3.6          2.6         2.3          0.9         virginica
982   982 4.0          2.6         1.9          1.6         setosa
983   983 4.5          3.0         2.0          0.3         setosa
984   984 5.9          2.4         1.1          2.3         setosa
985   985 3.3          2.4         1.6          2.8         setosa
986   986 4.6          3.9         2.4          1.8         setosa
987   987 3.2          2.8         1.5          2.9         setosa
988   988 4.8          3.0         2.5          2.1         virginica
989   989 5.5          2.6         2.6          0.5         setosa
990   990 3.8          3.6         1.4          0.6         virginica
991   991 3.6          3.0         2.1          2.9         setosa
992   992 3.7          2.5         2.6          2.8         virginica
993   993 3.2          2.4         2.0          1.2         virginica
994   994 4.5          3.7         1.2          0.3         virginica
995   995 4.0          2.9         1.0          0.2         virginica
996   996 4.5          3.6         2.0          2.7         setosa
997   997 4.0          2.1         2.0          2.1         setosa
998   998 5.9          2.5         2.1          2.5         virginica
999   999 5.0          2.6         1.9          1.6
1000 1000 3.4          3.9         1.9          1.5         setosa

In [ ]:
# data()
glimpse(faithful)
?faithful

## Extracting Row Data back into Vector

To extract a column of attributes back into a vector, call it out by appending `$ColName` to the data frame.

In [ ]:
df$Album

# Or assign into a var
albums_extracted <- df$Album