<a href="https://colab.research.google.com/github/nmagee/ds1002/blob/main/notebooks/22-data-cleaning-in-r.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Normalized Data

Having cleaned, ordered, organized data makes your next steps easy. Take the `airquality` sample data set for example:

In [ ]:
airquality

In [ ]:
boxplot(airquality)

In [ ]:
hist(airquality)

## Data Cleaning

Normal cleaning and management operations are just as common in R as they are in Python. The most frequent cleaning tasks are:

- Identifying and removing duplicate rows.
- Normalizing data values.
- Finding empty / NULL / `NA` values and determining what to do with them, i.e. deleting, imputing, etc.

In [42]:
df <- read.csv("https://raw.githubusercontent.com/nmagee/ds1002/main/data/very-messy-data-2.csv")

In [ ]:
# Use str() to get the structure of the data frame:

str(df)

In [ ]:
# Use summary() to get summary data for each attribute, including empty values.

summary(df)

In [ ]:
df

### Duplicate Rows

To see how many duplicate rows exist in a data frame:

In [ ]:
nrow(df[duplicated(df), ])

To remove duplicate rows from a data frame there is a simple one-line command. This will select all NON-duplicated rows from the `df` data frame and pass them into a new data frame named `df2`:

In [35]:
df2 <- df[!duplicated(df), ]

In [ ]:
# or, using dplyr, pass the

library(dplyr)
df2 <- df %>% distinct()

### Look for Irregularities

Sometimes a row value will be out of the bounds of expected data values. A good example of this might be a `logical` column where you expect to see `TRUE` and `FALSE`. It's useful to look at a list of the distinct values from a column. Use the `unique()` function to return these.

In [ ]:
unique(df2$sepal_length)
unique(df2$sepal_width)
unique(df2$petal_length)
unique(df2$petal_width)

### Update Values As Needed

To remove or `NA` a specific value within an observation, simply map a new value to a `df` search.

Suppose you want to remove "empty" values and replace them with `NA`, use this syntax:

```
df2[df2==""] <- NA
```

In [ ]:
df2[df2=="gg28"] <- NA
df2[df2=="gg29"] <- NA
df2[df2==""] <- NA
df2

The above method is useful whenever you need to push a replacement value into specific cells.

### Remove Rows with `NA` values

A simple way to do this is to extract only valid data out of the data frame with the `na.omit` method:

**This is a destructive action!**

In [ ]:
df_no_empty <- na.omit(df)
str(df_no_empty)

In [ ]:
# Two other methods to achieve this:

#Remove rows with NA's using complete.cases
df <- df[complete.cases(df), ]

#Remove rows with NA's using rowSums()
df <- df[rowSums(is.na(df)) == 0, ]

# Or with the tidyverse library
library("tidyr")

#Remove rows with NA's using drop_na()
df <- df %>% drop_na()

### Imputate Missing Data

The question surrounding imputation is WHAT to replace `NA` values with. This question is a data/statistical one and should not be treated lightly. The answer can throw off results greatly.

Because R is a statistical language, getting statistical data values for a column, such as `mean` or `sum` is simple:

In [53]:
nums <- c(4.14,8.26,14.84,18.6,7,11.9)

In [ ]:
mean()

With that caveat in mind, here is the method for imputing missing values and replacing them with the mean of the rest of the data.

The R below will update the sepal and petal columns by replacing empty values with the mean of the valid values within each column.

In [ ]:
df2$sepal_length[is.na(df2$sepal_length)] <- mean(df2$sepal_length, na.rm = T)
df2$sepal_width[is.na(df2$sepal_width)] <- mean(df2$sepal_width, na.rm = T)
df2$petal_length[is.na(df2$petal_length)] <- mean(df2$petal_length, na.rm = T)
df2$petal_width[is.na(df2$petal_width)] <- mean(df2$petal_width, na.rm = T)

df2

In [ ]:
# Another way to achieve this is using the Hmisc package

df3 <- read.csv("https://raw.githubusercontent.com/nmagee/ds1002/main/data/very-messy-data.csv")
df3 <- df3[!duplicated(df3), ]

install.packages("Hmisc")
library(Hmisc)

In [ ]:
df3$sepal_length <- impute(df3$sepal_length, median)
df3$sepal_width <- impute(df3$sepal_width, median)
df3$petal_length <- impute(df3$petal_length, median)
df3$petal_width <- impute(df3$petal_width, median)

In [ ]:
df3

In [ ]:
# data()
glimpse(faithful)
?faithful

### Remove Whitespace

Create a simple data frame with extra space characters thrown in:

In [ ]:
df_space <- data.frame(first  = c("Boston ", " Chicago ", "New York ", " Minneapolis", " Portland"),
                        second = c("Massachusetts", " Illinois", "New  York", "Minnesota", "  Oregon"),
                        third = c("New England  ", "Mid-West", " New England", "Mid-West", "North-West ")
                      )

In [ ]:
df_space$first

In [ ]:
library(dplyr)
library(stringr)

df_space %>%
  mutate(across(where(is.character), str_trim))

In [ ]:
df_space$first

Note the above `dplyr` does not save the cleaned data. To do this, assign the output into the same/new parameter:

In [ ]:
df_space <- df_space %>%
  mutate(across(where(is.character), str_trim))

## Extracting Row Data back into Vector

To extract a column of attributes back into a vector, call it out by appending `$ColName` to the data frame.

In [ ]:
df2$sepal_length

# Or assign into a var
sepal_length_extracted <- df2$sepal_width