<a href="https://colab.research.google.com/github/nmagee/ds1002/blob/main/notebooks/classes-overview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A Basic Class

In [46]:
class Robots():

  def introduce_self(self):
    print("Hello there, my name is " + self.name)

In [ ]:
# Create an instance and add some attributes

## Data Class

In [14]:
# Let's set up an empty class that we can throw a data structure into:
class Record:
  """Store information about something in a structure."""

# here is some simple data in the form of a dict
john = {
    "name": "John Doe",
    "position": "Data Scientist",
    "department": "Analytics",
    "salary": 94000,
    "hire_date": "2023-10-24",
    "is_manager": False,
    "email": "jdoe@company.com"
}

# finally let's instantiate (create) an instance of a Record with a var name
john_record = Record()

In [15]:
# So the empty instance exists. Now let's throw the data into it by for-looping
# the dict into the Record. Note that the "structure" is coming entirely by the
# dict we are passing.

for field, value in john.items():
  setattr(john_record, field, value)

In [18]:
# Kapow!!

# Now all the data fields (attributes) for this record are available when you type
# john_record.   (wait for Colab to suggest the available fields)

print(john_record.name)
print(john_record.salary)
print(john_record.department)

John Doe
94000
Analytics

'jdoe@company.com'

In [19]:
# or you can spit back out the entire dict structure from the Record:

john_record.__dict__

{'name': 'John Doe',
 'position': 'Data Scientist',
 'department': 'Analytics',
 'salary': 94000,
 'hire_date': '2023-10-24',
 'is_manager': False,
 'email': 'jdoe@company.com'}

## Define a Class to Perform Operations on Data

In [31]:
import math

class Circle:
  def __init__(self, radius):
    self.radius = radius

  def calculate_area(self):
    return round(math.pi * self.radius ** 2, 2)

  def calculate_4x_area(self,multiplier):
    return Circle.calculate_area(self) * multiplier

In [34]:
# Create an instance by calling the Class and providing the required parameter

circle0 = Circle(14)

# Then call a class method. Note that you do not provide a parameter for this method

circle0.calculate_area()

615.75

In [35]:
# The class instance has an additional method avaialable, which needs one parameter

circle0.calculate_4x_area(4)

2463.0

In [ ]:
class ObjectCounter:
  num_instances = 0
  def __init__(self):
    ObjectCounter.num_instances += 1

In [ ]:
counter = ObjectCounter()

In [ ]:
counter.num_instances

2

In [ ]:
counter.num_instances = 2

## Logging Class

In [ ]:
import logging

class MyLogger(logging.Logger):

  def __init__(self, name, level):
    super().__init__(name, level)
    # logging.basicConfig(filename='/content/app-error.log', filemode='a', format='%(asctime)s - %(levelname)s - %(message)s')

  def log(self, message, level=logging.INFO):
    super().log(level, message)

In [ ]:
logger = MyLogger('my_logger', logging.INFO)

In [ ]:
logger.log('This is a message.')

## Temp Converter Class

In [2]:
# Define the class itself and initialize. This class requires one parameter to be instantiated -- a temp
# This is what the __init__ accomplishes.
# Next come two methods you can use with any instance of the class:
#   - convert to F
#   - convert to C

class TempConverter:

  def __init__(self, temperature):
    self.temperature = temperature

  def convert_to_fahrenheit(self):
    return (self.temperature * 9 / 5) + 32

  def convert_to_celsius(self):
    return (self.temperature - 32) * 5 / 9

In [7]:
# Here we create an instance of the class by calling it into a new object and providing the parameter

mytemp = TempConverter(40)

# Or you could do that using variables:
temp_reading = 33
mytemp2 = TempConverter(temp_reading)

In [5]:
# Now you can use the available methods against the new object (instance of the class)
mytemp.convert_to_fahrenheit()

104.0

In [8]:
# each instance exists separately
mytemp2.convert_to_celsius()

0.5555555555555556

## Define a simple class

In [39]:
class Bike:
  name = ""
  gear = 0

This basic class has two variables inside of the class, `name` and `gear`.

Note: Variables within a class are called "attributes".

In [40]:
# Now create an instance of the class

bike1 = Bike()

In [41]:
# Set or call attributes of a class object

# modify the name attribute
bike1.name = "Mountain Bike"

# access the gear attribute
bike1.gear

0

In [42]:
# define a class
class Bike:
    name = ""
    gear = 0

# create object of class
bike1 = Bike()

# access attributes and assign new values
bike1.gear = 11
bike1.name = "Mountain Bike"

print(f"Name: {bike1.name}, Gears: {bike1.gear} ")

Name: Mountain Bike, Gears: 11

## Using a Constructor to Initialize

In [ ]:
class Bike:
    name = ""
...
# create object
bike1 = Bike()

In [ ]:
class Bike:

    # constructor function
    def __init__(self, name = ""):
        self.name = name

bike1 = Bike()

In [ ]:
bike1 = Bike("Mountain Bike")

## Create Multiple Instances of a Class

In [43]:
# define a class
class Employee:
    # define an attribute
    employee_id = 0

# create two objects of the Employee class
employee1 = Employee()
employee2 = Employee()

# access attributes using employee1
employee1.employeeID = 1001
print(f"Employee ID: {employee1.employeeID}")

# access attributes using employee2
employee2.employeeID = 1002
print(f"Employee ID: {employee2.employeeID}")

Employee ID: 1001
Employee ID: 1002

## Methods within a Class

In [44]:
# create a class
class Room:
    length = 0.0
    breadth = 0.0

    # method to calculate area
    def calculate_area(self):
        print("Area of Room =", self.length * self.breadth)

# create object of Room class
study_room = Room()

# assign values to all the attributes
study_room.length = 42.5
study_room.breadth = 30.8

# access method inside class
study_room.calculate_area()

Area of Room = 1309.0