<a href="https://colab.research.google.com/github/nmagee/ds1002/blob/main/notebooks/for_loop_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Looping Over Things

You will encounter a variety of objects you need to loop through.

## Pandas DataFrames

In [ ]:
import pandas as pd

df = pd.read_csv("https://s3.amazonaws.com/ds1002-resources/data/temperatures.csv")
df.head()

In [ ]:
for row in df.iterrows():
  print(row)

In [ ]:
for i in range(len(df)):
  print(df.loc[i, "date"], df.loc[i, "temperature"])

In [ ]:
for i in range(len(df)):
  print(df.iloc[i, 0], df.iloc[i, 1])

In [ ]:
for index, row in df.iterrows():
  print(row["date"], row["temperature"])

## Dictionaries

In [ ]:
mydict = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [ ]:
# This gets out all my keys:
for thing in mydict:
  print(thing)

In [ ]:
# This pulls out all the values of the dict:
for thing in mydict:
  print(mydict[thing])

In [ ]:
# This pulls both keys and values of a dict:
for key, value in mydict.items():
  print(key, " ", value)

## Tuples

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in thistuple:
  print(i)

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1